

/** Navbar **/
.logo {
    min-width: 150px; 
    min-height: 80px; 
    transition: all 0.3s ease;
}

.home-nav {
    background-color: #001f3f;
    transition: all 0.3s ease;
}


.home-nav-text {
    font-family: Lato;
    color: #fafafa;
}


.navbar .nav-link.home-nav-text.active {
    font-size: 25px;
    color: #FAFAFA;
    transition: all 0.3s ease;
}


.navbar-scrolled .logo {
    min-width: 120px;
    min-height: 60px;
}

.navbar-scrolled {
    padding: 10px 0;
    background-color: #001f3f; 
}

.navbar-scrolled .navbar .nav-link.home-nav-text.active {
    font-size: 20px; 
}

/** Hero image section  **/

.hero-bg-img {
    background-image: url('/static/images/travel-data-img-1440px.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 80vh;
    
}

.main-text-font {
    font-family: Roboto;
}

.hero-text {
    font-size: 20px;
    font-weight: 500;
}

.hero-bg-img div{
    color: #81d67a;
}
