{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid full-height-bg py-5">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center pt-5">
            <h1 class="project-primary-color">Agent Support</h1>
            <a href="{% url 'agent_support:add_supplier' %}" class="btn btn-link project-primary-color">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <form action="#" method="get">
            <input type="text" name="q" placeholder="Search support items...">
            <button type="submit">Search</button>
        </form>
        <div class="accordion" id="agentSupportAccordion">
            {% for supplier in suppliers %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                        aria-controls="collapse{{ forloop.counter }}">
                        {{ supplier.supplier_name }}
                    </button>
                </h2>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                    aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#agentSupportAccordion">
                    <div class="accordion-body">
                        <ul class="nav nav-tabs" id="supplierInfoTabs{{ forloop.counter }}" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="info-tab{{ forloop.counter }}" data-bs-toggle="tab"
                                    data-bs-target="#info{{ forloop.counter }}" type="button" role="tab"
                                    aria-controls="info{{ forloop.counter }}" aria-selected="true">Information</button>
                            </li>
                            {% if supplier.process_1_subject %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="process1-tab{{ forloop.counter }}" data-bs-toggle="tab"
                                    data-bs-target="#process1{{ forloop.counter }}" type="button" role="tab"
                                    aria-controls="process1{{ forloop.counter }}" aria-selected="false">Process
                                    1</button>
                            </li>
                            {% endif %}
                            {% if supplier.process_2_subject %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="process2-tab{{ forloop.counter }}" data-bs-toggle="tab"
                                    data-bs-target="#process2{{ forloop.counter }}" type="button" role="tab"
                                    aria-controls="process2{{ forloop.counter }}" aria-selected="false">Process
                                    2</button>
                            </li>
                            {% endif %}
                            {% if supplier.process_3_subject %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="process3-tab{{ forloop.counter }}" data-bs-toggle="tab"
                                    data-bs-target="#process3{{ forloop.counter }}" type="button" role="tab"
                                    aria-controls="process3{{ forloop.counter }}" aria-selected="false">Process
                                    3</button>
                            </li>
                            {% endif %}
                            {% if supplier.process_4_subject %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="process4-tab{{ forloop.counter }}" data-bs-toggle="tab"
                                    data-bs-target="#process4{{ forloop.counter }}" type="button" role="tab"
                                    aria-controls="process4{{ forloop.counter }}" aria-selected="false">Process
                                    4</button>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="tab-content" id="supplierInfoTabContent{{ forloop.counter }}">
                            <div class="tab-pane fade show active" id="info{{ forloop.counter }}" role="tabpanel"
                                aria-labelledby="info-tab{{ forloop.counter }}">
                                <p><strong>Supplier Type:</strong> {{ supplier.get_supplier_type_display }}</p>
                                <p><strong>Agent Websites:</strong> {{ supplier.agent_websites }}</p>
                                <p><strong>Contact Numbers:</strong> {{ supplier.contact_numbers }}</p>
                                <p><strong>Group Email:</strong> {{ supplier.group_email }}</p>
                                <p><strong>General Email:</strong> {{ supplier.general_email }}</p>
                                <p><strong>Account Manager:</strong> {{ supplier.account_manager }}</p>
                                <p><strong>Account Manager Contact:</strong> {{ supplier.account_manager_contact }}</p>
                                <p><strong>Account Manager Email:</strong> {{ supplier.account_manager_email }}</p>
                                <p><strong>Other:</strong> {{ supplier.other }}</p>
                            </div>
                            {% if supplier.process_1_subject %}
                            <div class="tab-pane fade" id="process1{{ forloop.counter }}" role="tabpanel"
                                aria-labelledby="process1-tab{{ forloop.counter }}">
                                <p><strong>Process 1 Subject:</strong> {{ supplier.process_1_subject }}</p>
                                <p>{{ supplier.process_1_text }}</p>
                            </div>
                            {% endif %}
                            {% if supplier.process_2_subject %}
                            <div class="tab-pane fade" id="process2{{ forloop.counter }}" role="tabpanel"
                                aria-labelledby="process2-tab{{ forloop.counter }}">
                                <p><strong>Process 2 Subject:</strong> {{ supplier.process_2_subject }}</p>
                                <p>{{ supplier.process_2_text }}</p>
                            </div>
                            {% endif %}
                            {% if supplier.process_3_subject %}
                            <div class="tab-pane fade" id="process3{{ forloop.counter }}" role="tabpanel"
                                aria-labelledby="process3-tab{{ forloop.counter }}">
                                <p><strong>Process 3 Subject:</strong> {{ supplier.process_3_subject }}</p>
                                <p>{{ supplier.process_3_text }}</p>
                            </div>
                            {% endif %}
                            {% if supplier.process_4_subject %}
                            <div class="tab-pane fade" id="process4{{ forloop.counter }}" role="tabpanel"
                                aria-labelledby="process4-tab{{ forloop.counter }}">
                                <p><strong>Process 4 Subject:</strong> {{ supplier.process_4_subject }}</p>
                                <p>{{ supplier.process_4_text }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}