{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid full-height-bg bg-gray-200">
    <div class="container dashboard-cards">
        <h1 class="text-center display-3 roboto">Dashboard</h1>
        <div class="row pt-3 justify-content-center">
            <div class="col-12 col-md-6">
                <form class="d-flex ">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-search" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row text-center roboto pt-5">
            <div class="col-sm-12 col-md-4 mb-4">
                <a href="{% url 'agent_support:agent_support_home' %}" class="card-link">
                    <div class="card h-100 shadow card-button">
                        <div class="card-body text-center">
                            <h5 class="card-title">Agent Support</h5>
                            <p class="card-text">Access agent support tools and resources.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
                <a href="{% url 'crm:crm_home' %}" class="card-link">
                    <div class="card h-100 shadow card-button">
                        <div class="card-body text-center">
                            <h5 class="card-title">CRM</h5>
                            <p class="card-text">Manage customer relationships and data.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
                <a href="#" class="card-link">
                    <div class="card h-100 shadow card-button">
                        <div class="card-body text-center">
                            <h5 class="card-title">View Tickets</h5>
                            <p class="card-text">Access and manage support tickets.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}