{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block head_title %}Password Reset Complete - TraVault{% endblock %}

{% block content %}
<section id="password-reset-key-done" class="bg-gray-200 full-height-bg">
    <div class="container top-padding roboto">
        <div class="row justify-content-center py-5">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-4">Password Reset Complete</h2>
                        <p class="mb-3">
                            Your password has been set successfully. You can now log in with your new password.
                        </p>
                        <p class="mt-4">
                            <a href="{% url 'account_login' %}" class="btn btn-get-started btn-lg">Return to Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
