{% extends "base.html" %}
{% load static %}
{% load custom_filters %}  <!-- Ensure custom filters are loaded if needed -->

{% block head_title %}Password Reset Sent - TraVault{% endblock %}

{% block content %}
<section id="password-reset-done" class="bg-gray-200 full-height-bg">
    <div class="container top-padding roboto">
        <div class="row justify-content-center py-5">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-4">Password Reset Sent</h2>
                        <p class="mb-3">
                            If an account with the email provided exists, you will receive a password reset email shortly. Please check your inbox and follow the instructions to reset your password.
                        </p>
                        <p class="mt-4">
                            <a href="{% url 'account_login' %}" class="btn btn-get-started btn-lg">Return to Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
